body
{
    background-color: #bfffea !important;
    text-align:center;
}

.intro {
    text-align: center;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    
    
}

.img1 {
    
    text-align: center;
    width: 450px;
    height: 182px;
    padding: 80px;
    background-image: url("Images/Tommy.png");
    color:white;
}

.img1 a {
    font-size: 70%;
}

.img2 {
    padding-top: 70px;
}

.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}